* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
  background-image: url('/achtergrond3.png');
  background-position: center;
  background-color: #efe9dc;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
