.stationEntry {
  background-image: url('/blad.jpeg');
  height: auto;
  min-height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.stationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stationName {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  font-family: 'barriecito', Courier, monospace;
  color: #133c6d;
}

.stationDistance {
  font-size: 0.875rem;
  color: #6b7280;
  font-family: 'geistMono', Courier, monospace;
}

.stationStats {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #b398a6;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-family: 'geistMono', Courier, monospace;
}

.statItem {
  font-size: 0.875rem;
}

.statLabel {
  font-weight: 500;
}

.readButton {
  width: 100%;
  background-color: #8aafdb;
  color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
  font-family: 'barriecito', Courier, monospace;
}

.readButton:hover {
  background-color: #6588b4;
}

.diaryText {
  margin-top: 0.75rem;
  padding: 0.75rem;
  background-color: #fef3c7;
  color: #8d7413;
  border-radius: 0.25rem;
  font-style: italic;
  font-size: 2rem;
  line-height: 3rem;
  min-height: 10vh;
  max-height: none;
  text-align: center;
  font-family: 'tangerine', Courier, monospace;
  overflow-y: auto;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .stationEntry {
    padding: 0.75rem;
  }

  .stationStats {
    flex-direction: column;
    gap: 0.25rem;
  }
}

@media (max-width: 480px) {
  .stationHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}
