.stationContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.stationInfo {
  background-image: url('/blad.jpeg');
  height: auto;
  min-height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  font-family: 'barriecito', Courier, monospace;
  color: #133c6d;
}

.stationDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #b398a6;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-family: 'geistMono', Courier, monospace;
}

.diaryText {
  margin-top: 0.75rem;
  padding: 0.75rem;
  color: #0f036b;
  border-radius: 0.25rem;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
  min-height: 10vh;
  max-height: none;
  text-align: center;
  font-family: 'geistMono', Courier, monospace;
  overflow-y: auto;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .stationDetails {
    flex-direction: column;
    gap: 0.25rem;
  }
}
.emotionImage {
  width: 100%;
  margin-bottom: 15px;
}

.moodImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
